
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Danh sách khách hàng</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <tr>
                                <th>Số thứ tự</th>
                                <th>Mã khách hàng</th>
                                <th>Tên khách hàng</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>123456</td>
                                <td>Lê Văn Phiêu</td>
                                <td><i class='fa fa-circle' style='font-size:24px;color:green'></i></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>123456</td>
                                <td>Lê Văn Bảo</td>
                                <td><i class='fa fa-circle' style='font-size:24px;color:gray'></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

