
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}
<div class="col col-xl-12" id="container" @*style="min-width: 310px; height: 400px; margin: 0 auto"*@></div>


@section myscript{

    <script src="~/Content/js/highcharts.js"></script>
    <script src="~/Content/js/exporting.js"></script>
    <script src="~/Content/js/export-data.js"></script>
    <script type="text/javascript">
        Highcharts.chart('container', {
            chart: {
                type: 'column'
            },
            title: {
                text: 'Thời trang 360'
            },
            subtitle: {
                text: 'Coder: Lê Văn Phiêu'
            },
            xAxis: {
                categories: [
                    'Tháng 1',
                    'Tháng 2',
                    'Tháng 3',
                    'Tháng 4',
                    'Tháng 5',
                    'Tháng 6',
                    'Tháng 7',
                    'Tháng 8',
                    'Tháng 9',
                    'Tháng 10',
                    'Tháng 11',
                    'Tháng 12'
                ],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Tổng thu (VND)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.y:.1f} VND</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: 'Báo cáo doanh thu trong năm',
                data: [2000000, 1000000, 200000, 200000, 3000000, 1200000, 500000,700000, 1000000, 800000, 600000,100000]

            }]
        });
    </script>
}